<div class="">
  
  <!--検索フォーム-->
  <!--<input id="address" type="textbox" value="Geeksalon">-->
  <!--<input type="button" value="検索" onclick="codeAddress()">-->
  <div id="map"></div>
  <style>#map {height: 800px; width: 100%;} </style>
  
 <script>
   let map
   function initMap(){
     geocoder = new google.maps.Geocoder()
     
     map = new google.maps.Map(document.getElementById('map'), {
       center: {lat: 40.7828, lng:-73.9653},
       zoom: 12,
     });
     
     <% hoges.each do |m| %>
        (function(){
        //   var contentString = "住所:<= m.address %>";
           
          var marker = new google.maps.Marker({
             position: {lat: <%= m.latitude %>, lng: <%= m.longitude %>},
             map: map
            //  title: contentString
          });
          
        });
     <% end %>
   }
 </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAP_API"] %>&callback=initMap" async defer></script>
</div>