<!--現在地取得作成中-->


<div class="">
  <!--検索フォーム-->
  <input id="address" type="textbox">
  <input type="button" value="検索" onclick="codeAddress()">
  <div id="map"></div>
  <style>#map {height: 600px; width: 100%;} </style>
  
  <script>
    let map
    
    function initMap(){
      geocoder = new google.maps.Geocoder()
      
      (navigator.geolocation) {
        // 現在地取得
        navigator.geolocation.getCurrentPosition(
          function(position) {
            // 緯度経度を変数に格納
            var mapLatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            // 現在地取得用のオプションを変数に代入
            var mapOptions = {
              center: mapLatLng,
              zoom: 17
            };
            // マップオブジェクト作成
            map = new google.maps.Map(
              document.getElementById('map'), 
              mapOptions
            );
            marker = new google.maps.Marker({
              map: map,
              position: mapLatLng
            });
          };
      )};
    }
    
    let geocoder
    // 検索を押された時に実行
    function codeAddress(){
      // 検索フォームの入力内容を取得
      let inputAddress = document.getElementById("address").value;
      
      geocoder.geocode( {"address": inputAddress}, function(results, status) {
        // 該当する検索結果がヒットした時、地図の中心を検索結果の緯度経度に更新
        if (status == "OK") {
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
          });
        } else {
          alert("該当する結果がありませんでした:" + status);
        }
      });
    }
  </script>
  
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAP_API"] %>&callback=initMap" async defer></script>
  
</div>