<div class="container none ">
	<h1 class="text-center">管理者top</h1>

	<div class="row">
		<ol>
			<p><%= link_to "国", admin_countries_path %></p>
			<p><%= link_to "スタイル選択", admin_styles_path %></p>
			<p><%= link_to "ジャンル選択", admin_genres_path %></p>
			<p>会員数：</p>
		</ol>
	</div>
</div>