<div class="text-center">
  <div><%= paginate @reviews %></div>
</div>

<!--投稿の一覧-->
<%= render "public/reviews/index", reviews: @reviews %>

<div class="text-center">
  <p><%= paginate @reviews %></p>
</div>
<div>
  <!--作成中-->
  <!--<= render "public/maps/index", hoges: @reviews %>-->
</div>