/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";




.auto{
  display: none;
}
.auto.slick-initialized{
  display: block; 
}

// リンク下線なし,黒
.link-none a {
	text-decoration: none;
	color: #000;
}

// 標準背景色(!)
.none {background-color: #FFEBCC;}

// 標準背景色のクリア(!)
.none-clear {background-color: #ffebccad;}

// 必須(!)
.required {color: red;}

// flash-alert(!)
.alert-primary {
	background: #1906ffa1;
	color: #fff;
}
.alert-danger {
	background: #fd190bb5;
	font-size: 1.3rem;
	color: #000;
}
.alert-alert {
	background: #ff7171b0;
	color: #000;
}
.alert-update {
	background: #d3d810c7;
	color: #001eff;
}
.alert-notice {
	background: #00ff5187;
  color: #2900ff;
  font-style: italic;
  font-size: 1.2rem;
}
// flash-alert(!)//


// eroor_message(!)
#error_explanation {
  // width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f1277b69;
}
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
#error_explanation ul li {
  //font-size: 12px;
  list-style: square;
}
.field_with_errors {
  padding: 2px;
  background-color: red;
   //display: table;
  display: contents;
  input {
    @extend .is-invalid;
  }
}
// error_message(!)//


// 壁紙
.wallpaper {
	background-image: image-url("wallpaper");
	background-size: cover;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// header
.logo {
	font-family: 'Snell Roundhand','Segoe UI Historic',sans-serif;
	color: #da19b7;
	font-size: 40px;
	padding: 20px 20px;
	// float: left;
	span {color: red;}
}

// header_drop
.navdrop {
	background: #0015bba8;
	border-style: none;
	color: #000;
	a {color: #fff;}
}
// hover状態に
.dropdown:hover .dropdown-menu {display: block;}


// footer
footer {
	height: 90px;
	background-color: #330066;
	// position: fixed;
	margin-top: auto;
	
	// お問い合わせリンク
	.inquiry-link {
		padding: 10px 30px 0 0;
		a {color: #fff;}
	}
}

// 問い合わせ
.inquiry-new{
	.field {width: 300px;}
	table {
		margin: 50px 50px;
		th {padding: 20px;}
		td {padding-left: 25px;}
	}
}

.box {
	background: #fff;
	height: 300px;
	width: 300px;
}

.blue-box {
	background: #fff;
	height: 300px;
	width: 300px;
}

.clear-box {
	background: transparent;
	height: 300px;
	width: 300px;
}

// TOP-Page
.top-main-title {
	// padding-top: 40px;
	font-family: 'Snell Roundhand','Segoe UI Historic',sans-serif;
	font-size: 8rem;
	color: #000;
	span { color: red;}
}
.top-message {
	color: #fff;
	font-size: 30px;
	position: absolute;
	margin: 30px;
	font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;;
		a {color: #ecfd01;}
}
.back-image{
	background-image: image-url("top-page");
	background-size: cover;
	height: 900px;
	margin:5px 20px; 
}

.current_user {
	font-size: 1.3rem;
	background: #fffa0096;
	margin: 20px 0;
	padding: 20px 0;
	a {color: #0006ff;}
}

.gestuser {
	font-size: 1.3rem;
	background: #ffd70096;
	margin: 20px 0;
	padding: 20px 0;
	a {color: #0006ff;}
}



// top.image.slider
.boxsize{
	width: 100%;
	padding: 5px 5px;
	height: 100%;
}

.about-page {
	font-size: 35px;
	color: blue;
}


.tag {
	width: 5px 5px ;
}

// review.index
.review-box {
	border-width: 0.1px;
	border-style: solid;
	border-color: #FF9900;
	color: #000;
	
	.review-image {
		padding: 15px;
		border-right-style: dotted;
		// border-width: 0.5px;
		border-color: #ff7f06;
	}
	.review {
		padding: 10px;
	}
	.review-title {
		border-width: 0.5px;
		border-bottom-style: solid;
	}
	.restrant-name {
	font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Charter','Segoe UI Historic',sans-serif;
		a:hover {color: #FF9900;}
	}
	.restrant-details {
		margin-bottom: 3px;
	}
	.user-content {
		margin: 7px 0;
	}

	.name {
		font-size: bold;
		margin: 2px;
	}
	.review-content {
		background: #FFE0B3;
		border-width: 0.1px;
		border-style: solid;
		border-color: #FFE0B3;
		border-radius: 10px;
		margin-left: 10px;
		margin-bottom: 5px;
		width: 100%;
	}
}

// review.show
.review-show {
	.title {
		background-color: #fbcb807d;
		
		.edit {
			padding: 10px 10px;
		}
		.boder-red {
			border-bottom-style: double ;
			border-color: red;
			border-width: 6px;
			margin: 0 7px 10px 7px;
			padding-top: 2px;
			
			.restrant-title {
				font-family: 'Baskerville',YuGothic,'Yu Gothic',sans-serif;
				border-bottom-style: double ;
				border-width: 6px;
				border-color: #0E2287;
				// background: #FFE0B3;
				padding: 5px;
				margin-bottom: 2px;
				font-size: 2.5rem;
			}
		}
	}
	// review画像
	.review-image {
		border-width: 6px;
		border-bottom-style: double;
		border-color: red;
		margin-top: 0;
		padding-bottom: 15px;
		
		.image-vw {
			width: 50vw;
			// padding: 0 20px;
			height: 30vw;
		}
	}
	
	.user-review {
		// border-width: 0.1px;
		// border-style: solid;
		// border-color: #FFE0B3;
		// background: #EDAF5F;
		margin: 12px;
		padding: 10px 0;
		
		.review-content {
			background: #ff9d1f4a;
			border-width: 0.1px;
			border-style: solid;
			border-color: #e8640f6e;
			border-radius: 10px;
			margin-left: 10px;
			margin-bottom: 5px;
			width: 100%;
		}
	}
	
	// 店舗詳細
	h4 {
		margin: 25px 0 0 15px;
	}
	.restrant-information {
		border-width: 0.1px;
		margin: 0 12px;
		margin-bottom: 25px;
		padding: 5px;
		font-size: 1.2rem;
		
		.table-bordered{
			line-height: 1.5rem;
			
			th {
				background: #eca62063;
				padding: 10px;
				border: 1px solid #e67d11ab;
			}
			td {
				padding: 10px;
				background: #f5dcbca8;
				border: 1px solid #e67d11ab;
			}
		}
	}
	// like_icon
	.like {
		padding-right: 10px;
	}
	// タグ
	.tag-list {
		margin: 12px;
	}
	
	// googlemap
	.maps {
		margin:20px;
		padding-bottom: 20px;
	}
	// comments
	.comment {
		margin: 20px;
	}
	.comment-window {
	width: 100%;
	}
	
}

// review-new
.review-new {
	
	h2 {
		font-family: 'Times','Times New Roman','Superclarendon',sans-serif;
		color: #330066;
		border-bottom-style: double;
		border-width: 0.5rem;
	}
	table {
		margin: 50px 50px;
		th {padding: 20px;}
		td {padding: 30px;}
		
	}
	.field {width: 100%;}
	.budget {width: 80%;}
	
	.genre-field {
		border-style: solid;
		border-color: #FFA500;
	}
	.btn-primary {
		background: #FFA500;
		color: blue;
		width: 200px;
	}
}

// user-profile

.profile {
	background: #330066eb;
	color: orange;
	
	.counter {
		margin: 10px;
		padding: 10px;
		div {margin-bottom: 5px;}
		.count {color: #fff}
	}
	.user-image {
		padding: 10px 0;
		
		.user-name {
			font-size: 18px;
			color: #fff;
			font-family: 'Bodoni 72','ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','Segoe UI Historic',sans-serif;
		}
		.rounded-circle {
			border: 1px solid #7b02bd ;
		}
	}
	.button {
		.edit-link {
			margin-left: 10px;
			a { color: #fff}
		}
	}
	.intro { margin: 10px 20px;}
	.follow {
		margin: 10px 20px;
		div {
			margin-bottom: 10px;
			margin-right: 10px;
			strong {color: #fff;}
		}
	}
	
	// user-efit
	label {
		border-style: solid;
		padding: 10px 20px;
		margin-top: 10px;
		
		
		.field {
			height: 3rem;
			width: 500px;
			background: #330066;
			color: #fff;
		}
	}
	.btn-primary {
		padding: 5px 60px;
		margin: 10px 0;
		background: #FFA500;
	}
}

.devise {
	background: #e2ae1282;
	padding: 100px;
	
	.devise-submit {
		color: #d900ff;
		font-size: 1.2rem;
		margin: 10px 0;
	}
}
.d-area{
	border: 1px solid #0400ff;
	height: 400px;
	width: 400px;
	margin: 20px;
	padding: 0 30px 30px 30px;
	background: #f524b22e;
	
	.d-title { padding: 10px;}
	.d-link {
		padding-top: 80px;
		
		.sign-in { width: auto;}
		.d-b-margin { margin-bottom: 10px;}
		.log-in { padding: 9px;}
	}
}


// Admin
.admin-top {
	div {padding: 30px 0;}
}

