<!--問い合わせ完了通知画面-->
<div class="text-center none">
    <h1>お問い合わせ</h1>
    <p>お問い合わせいただきありがとうございました。</p>
    <%= image_tag 'try_hard.png', size: "500x400" %>
    <%= link_to "トップ画面に戻る", root_path %>
</div>